<div class="headerPart">
    <h1>Passing Routing Data</h1>
</div>

<p>{{routingData}}</p>

<p>method second use 'state'</p>
<article>
    <p>codes are commented here in HTML file below:</p>
<!-- first name click functions mentioned below: -->
    <!-- passData() {
        this.router.navigateByUrl('/passing-routing-data', { state: {id:1, name: 'israr ahmad'}})
    } -->

<!-- get in component ts file under constructor only (will work inside constructor only)  -->
    <!-- this.router.getCurrentNavigation()?.extras.state; -->

<!-- show fetch value inside ngOnIinit as below:
    this.routingData = history.state.name; -->

</article>


