<h1>Due to upgration issue in future, i had to remove AngularMaterial from the project</h1>


<!-- <button mat-button class="menuIcon" (click)="toggleMobileMenus()">
    <mat-icon>more_vert</mat-icon>
</button>
<div class="responsiveMenu" [ngClass]="navigationMenu">
    <ul>
        <li (click)="someMethod()">
            Home
        </li>
        <li [matMenuTriggerFor]="menu">
            Service
            <mat-icon>more_vert</mat-icon>
        </li>
        <li>
            About Us
        </li>
        <li>
            Contact us
        </li>
    </ul>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="level1">Item 1</button>
    <button mat-menu-item [matMenuTriggerFor]="level2">Item 2</button>
</mat-menu>

<mat-menu #level1="matMenu">
    <button mat-menu-item>1 Level</button>
    <button mat-menu-item>1 Level</button>
    <button mat-menu-item [matMenuTriggerFor]="level1_2">1 Level</button>
</mat-menu>
<mat-menu #level2="matMenu">
    <button mat-menu-item>2 Level</button>
    <button mat-menu-item>2 Level</button>
    <button mat-menu-item>2 Level</button>
</mat-menu>

<mat-menu #level1_2="matMenu">
    <button mat-menu-item>Level-1_222 </button>
    <button mat-menu-item>2 Level</button>
    <button mat-menu-item>2 Level</button>
</mat-menu>


<div class="headerPart">
    <h1>Responsive Menus</h1>
</div>

<div class="container">

</div> -->