.table {
    width: 100%;
    thead {
        background: red;
        color: #fff;
    }
    th, td {
        border: 1px solid #000;
        border-collapse: collapse;
    }
}

.someStyle {
    width: 100%;
    height: 30px;
    background: blue;
    margin-bottom: 20px;
}