<div class="headerPart">
    <h1>Dashboard Page!</h1>
</div>

<div class="container py-4">
    <button class="btn btn-info m-1" routerLink="auth-success">Auth Success</button>
    <button class="btn btn-info m-1" routerLink="switch-case">Switch Case</button>
    <button class="btn btn-info m-1" routerLink="class-toggle">Class Styles Toggling </button>
    <button class="btn btn-info m-1" routerLink="inputvalue-click">Input Value on Click </button>
    <button class="btn btn-info m-1" routerLink="reactive-form">Reactive Form / Local Storage </button>
    <button class="btn btn-info m-1" routerLink="api-list">Show API List / searchPipe Filter </button>
    <button class="btn btn-info m-1" routerLink="register">Registration </button>
    <button class="btn btn-info m-1" routerLink="menus">Responsive Menus </button>
    <button class="btn btn-info m-1" routerLink="authentication">Auth Registeration </button>
    <button class="btn btn-info m-1" routerLink="auth-login">Auth Login </button>
    <button class="btn btn-info m-1" routerLink="parent">Searchable Select List</button>
    <button class="btn btn-info m-1" routerLink="input-true-false">input true, false check</button>
    <button class="btn btn-info m-1" routerLink="geo-location">Geo Location and Photo Upload IONIC 3 </button>
</div>

<h2>Above pages might not work due to conversion from angular 11 to angular 13</h2>

<button class="btn btn-info m-1" routerLink="/loadmore-data">Load More Data</button>
<button class="btn btn-info m-1" routerLink="interview-failed">inteview-failed</button>
<button class="btn btn-info m-1" routerLink="revise-api-list">Infinite Scroll / Pagination / Increament Decreament</button>
<button class="btn btn-info m-1" routerLink="mat-pagination">Mat Pagination</button>
<button class="btn btn-info m-1" routerLink="view-child">View Child</button>
<button class="btn btn-info m-1" routerLink="upload-image">Upload Image</button>
<button class="btn btn-info m-1" routerLink="form-group">Form Group</button>
<button class="btn btn-info m-1" routerLink="form-array">Form Group & Array</button>
<button class="btn btn-info m-1" routerLink="multifield-form-array">Multifield Form Array</button>
<button class="btn btn-info m-1" routerLink="remove-array-list">Remove / Delete / Select Array List</button>
<button class="btn btn-info m-1" routerLink="nested-array">Nested Array</button>
<button class="btn btn-info m-1" routerLink="filter-and-sort">Filter and Sort</button>
<button class="btn btn-info m-1" routerLink="min-max-value">Min Max Value / Reduce</button>
<button class="btn btn-info m-1" routerLink="custom-directive-result">Custom Directive Result</button>
<button class="btn btn-info m-1" routerLink="duplicate-array">Duplicate Array</button>
<button class="btn btn-info m-1" routerLink="passing-routing-data">Passing Routing Data</button>
<button class="btn btn-info m-1" routerLink="pdf-create">PDF Generate</button>
<button class="btn btn-info m-1" routerLink="error-handling">Error Handling</button>
<button class="btn btn-info m-1" routerLink="print-keyvalue">Print keyvalue</button>
<button class="btn btn-info m-1" routerLink="chartjs">Charts JS / Create Graphs</button>
<!-- <button class="btn btn-info m-1" routerLink="transfer-array">Transfer Array item to another array</button> -->